body{
    margin: 30px, 50px , 30px, 50px;
    padding: 0;
    background-image: url();
}
#top{
    width: 100%;
    margin: auto;
}
#naglowek{
    width: 100%;
    height: 10%;
    background-color: grey;
    color: red;
}
#menu{
    width: 10%;
    height: 80%;
    float: left;
    overflow: hidden;
    background-color: darkgrey;
    color: red;
    font-size: 40px;
    text-align: center;
}
#tresc{
    background-color: silver;
    width: 80%;
    height: 80%;
    overflow: hidden;
    float: left;
    color: red;
    font-size: 70px;
    background-image: url(catfriends.jpg);
}
#Stopka{
    clear: both;
    background-color: grey;
    width: 100%;
    height: 10%;
    text-align: center;
    color: red;
    font-size: 50px;
    overflow: hidden;
}
#informacje{
    width: 10%;
    height: 80%;
    float: right;
    overflow: hidden;
    background-color: darkgrey;
    color: red;
    font-size: 40px;
    text-align: center;
    clear: both;
}